<p id="notice"><%= notice %></p>

<h1>Open Meetings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start datetime</th>
      <th>Summary</th>
      <th>Finished flg</th>
      <th>Attendance flg</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.title %></td>
        <td><%= meeting.start_datetime %></td>
        <td><%= simple_format(replaceNumToTopic(String(meeting.summary)).html_safe) %></td>
        <td><%= meeting.finished_flg %></td>
        <td>
          <% if users_meeting = UsersMeeting.find_by(user_id_id: current_user.id, meeting_id_id: meeting.id) %>
            <%= users_meeting.attendance_flg %>
          <% end %>
        </td>
        <td><%= link_to 'Show', meeting %></td>
        <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
        <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Attendance', attendance_meeting_path(meeting), data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Absence', absence_meeting_path(meeting), data: { confirm: 'Are you sure?' } %></td>
        <% if DateTime.now > meeting.start_datetime %>
          <td><span style="color: red; font-weight: bold;">This Meeting is END</span></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meeting', new_meeting_path %>