<p id="notice"><%= notice %></p>

<p>
	<% if DateTime.now > @meeting.start_datetime %>
        <span style="color: red; font-weight: bold;">This Meeting is END</span>
    <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @meeting.title %>
</p>

<p>
  <strong>Start datetime:</strong>
  <%= @meeting.start_datetime %>
</p>

<p>
  <strong>Summary:</strong>
  <%= simple_format(replaceNumToTopic(String(@meeting.summary)).html_safe) %>
</p>

<p>
  <strong>Finished flg:</strong>
  <%= @meeting.finished_flg %>
</p>

<p>
  <strong>My Attendance flg:</strong>
  <% if users_meeting = UsersMeeting.find_by(user_id_id: current_user.id, meeting_id_id: @meeting.id) %>
  	<%= users_meeting.attendance_flg %>
  <% end %>
</p>

<strong>AttendeeList:</strong>
<ul>
	<% @users_meetings.where(attendance_flg: true).each do |users_meeting| %>
		<li><%= User.find(users_meeting.user_id_id).username %></li>
	<% end %>
</ul>

<strong>AbsenteeList:</strong>
<ul>
	<% @users_meetings.where(attendance_flg: false).each do |users_meeting| %>
		<li><%= User.find(users_meeting.user_id_id).username %></li>
	<% end %>
</ul>

<strong>UndecidedList:</strong>
<ul>
	<% User.all.each do |user| %>
		<% users_meeting = @users_meetings.find_by(user_id_id: user.id) %>
		<% if !users_meeting || users_meeting.attendance_flg = nil %>
			<li><%= user.username %></li>
		<% end %>
	<% end %>
</ul>

<div>
	<%= link_to 'Attendance', attendance_meeting_path(@meeting), data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Absence', absence_meeting_path(@meeting), data: { confirm: 'Are you sure?' } %>
</div>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>

<!-- jqueryの機能を使ってチェックボックスの制御を行う -->
<script type="text/javascript">
	$(function () {
		$("input[type=checkbox]").click(function () {
			$.post('/topics/' + $(this).val() + '/toggle')
			//alert($(this).val());
		})
	})
</script>
