<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meeting.title %>
</p>

<p>
  <strong>Start datetime:</strong>
  <%= @meeting.start_datetime %>
</p>

<p>
  <strong>Finished flg:</strong>
  <%= @meeting.finished_flg %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
