<header>
	<h1>MeetingApp</h1>
	<nav class="g-nav">
		<ul>
			<li><%= link_to "Topic", '/topics'%></li>
			<li><%= link_to "Meeting", '/meetings'%></li>
			<% if current_user %>
				<li><%= link_to "Sign out", '/users/sign_out'%></li>
			<% else %>
				<li><%= link_to "Sign in", '/users/sign_in'%></li>
			<% end %>
		</ul>
	</nav>
	<% if current_user %>
		<p><%= "User: #{current_user.username}" %></p>
	<% end %>
</header>