<header>
	<h1>MeetingApp -Wiki</h1>
	<nav class="g-nav">
		<ul>
			<li><%= link_to "Topic", root_path%></li>
			<li><%= link_to "Meeting", '/meetings'%></li>
			<li><%= link_to "Wiki", '/pages'%></li>
			<% if current_user %>
				<li><%= link_to "Sign out", '/users/sign_out'%></li>
			<% else %>
				<li><%= link_to "Sign in", '/users/sign_in'%></li>
			<% end %>
		</ul>
	</nav>
	<% if current_user %>
		<p><%= link_to "User: #{current_user.username}", '/users/show' %></p>
	<% end %>
</header>